# IDEs
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Environment
.env
.env.local

# Android
*.apk
*.aab
*.ap_
*.dex
*.class
bin/
gen/
out/
.gradle/
build/
local.properties
proguard/

# iOS
*.ipa
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
xcuserdata/
*.xccheckout
*.moved-aside
DerivedData/
*.hmap
*.xcuserstate
Pods/
*.xcworkspace/

# React Native / Node
node_modules/
npm-debug.log
yarn-error.log
.expo/
.metro/
coverage/

# Flutter
.dart_tool/
.packages
.pub-cache/
.pub/
build/
flutter_*.png
